<!-- <p [ngClass]="classes()">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati consequatur dolores beatae esse porro repellendus perspiciatis aut facilis iste odio at blanditiis excepturi voluptates assumenda magni quam, voluptatem temporibus! Ratione nulla explicabo accusamus! Vel minus repellat sunt nam delectus facilis praesentium ipsam quis ducimus, error quo, provident assumenda? Accusantium distinctio veniam cupiditate, unde nihil vitae consectetur iste enim nulla explicabo non reiciendis atque officia eveniet eos itaque, praesentium aliquam possimus est laboriosam quod. Labore quibusdam itaque maxime optio, error libero incidunt eum et harum nesciunt eveniet pariatur iure modi sint, enim sapiente consectetur? Harum beatae necessitatibus amet error molestias corporis.</p>


<input [type]="showPassword ? 'text' : 'password'" placeholder="password">
<button (click)="togglePasswordView()">{{showPassword ? 'hide' : 'show'}} Passowrd</button>
<button (click)="toggleHeaderView()">Toggle Header View</button>

<h1>Todo List</h1>
<input [(ngModel)]="newTodo" type="text" placeholder="Your Todo">
<button (click)="addNewTodo()">Add new Todo</button>
<ul>
    <li *ngFor="let todo of todos">{{todo.title}} <button (click)="removeTodo(todo.id)">Remove Item</button></li>
</ul> -->
<app-default-bar></app-default-bar>
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-default-footer></app-default-footer>